watch_file flake.nix
watch_file devenv.nix
watch_file .env
dotenv_if_exists .env
# use flake . --no-pure-eval
[ -d "$PWD/.devenv" ] || mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
[ -e "$DEVENV_ROOT_FILE" ] && [[ "$(cat $DEVENV_ROOT_FILE)" = "$PWD" ]] || printf %s "$PWD" > "$DEVENV_ROOT_FILE"

if ! use flake . --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi
